header{
    background-color: rgb(187, 145, 89);
    display: flex;
    align-items: center;
}

#logo{
    height: 10%;
    width: 10%;
}

h1{
    color: #fff;
    padding:10px 60px 
}
.navegador{
    padding:10px 60px 
}
nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px;
    } 

nav li{
    display:inline-block;
    width:auto;
    padding:1px 10px;
    border:1px solid #000;
    border-radius:5px ;
    }